.container{
    background-color: lightblue;
    width: 600px;
    height: 600px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:end;
    align-content: space-around; */
}
.box{
height: 50px;
width: 50px;
text-align: center;
border-radius: 5px;
border-width: 1px;
border-style: solid;
background-color: lightpink;
flex-shrink: 2;

}
.one{
    /* flex-shrink: ; */
}
